{% extends "admin/base.html" %}
{% block title %}{{ title }} | {{ site_title|default:_('MAGiE admin') }}{% endblock %}
{% load static %}
{% block extrahead %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_MEASUREMENT_ID }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ GOOGLE_ANALYTICS_MEASUREMENT_ID }}');
  </script>
{% endblock %}
{% block branding %}
{% endblock %}
{% block nav-global %}{% endblock %}
  <h1 id="site-name"><a href="{% url 'admin:index' %}">MAGiE Puzzle Editor</a></h1>
  <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">