{% extends "admin/base.html" %}
{% block title %}{{ title }} | {{ site_title|default:_('MAGiE admin') }}{% endblock %}
{% load static %}
{% load analytical %}

{% block extrahead %}
  {% block analytical_head_top %}{% endblock %}
  <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
  {{ block.super }}
   {% block analytical_head_bottom %}{% endblock %}
{% endblock %}

{% block branding %}
  <h1 id="site-name"><a href="{% url 'admin:index' %}">MAGiE Puzzle Editor</a></h1>
{% endblock %}
{% block nav-global %}{% endblock %}
